@import "tailwindcss";
@import "tw-animate-css";
/* html {
  scroll-behavior: smooth;
} */

body{
  font-family: var(--font-roboto);
}
.dm-sans, p{
 font-family: var(--font-dm-sans);
}
h1, h2, h3 {
  font-family: var(--font-outfit), sans-serif;
}
.blog-details{
  display: flex;
  flex-direction: column;
    font-family: 'DM Sans';
    color: #808080;

  h1, h2, h3, h4, h5{
    color: #171717;
  }
  p{
    color: gray;
    
  }
  
   h1{
    font-size: 3rem;
    margin: .5rem 0;
   }
   h2{
    font-size: 2rem;
    margin: .5rem 0;
    font-weight: 600;
   }

   h3{
    font-size: 1.5rem;
      margin: .5rem 0;
      font-weight: 600;
   }
    h4{
    font-size: 1.3rem;
      margin: .5rem 0;
      font-weight: 600;
   }
   p, li{
     margin: .5rem 0;
     list-style: none;
     text-decoration: none;
     color: #808080;
   }

   img{
    border-radius: 14px;
    width: 100%;
     margin: .5rem 0;
   }
}
@custom-variant dark (&:is(.dark *));
:root{
    --color1: #e7e3d6;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.btn{
  overflow: hidden;
}

span.hover-span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition:.5s;
}
 .btn:hover span.hover-span{
    width: 100%;
}
.btn svg{
    transition: .3s;
}
.btn:hover svg{
    transform: translateX(5px);
}
.btn-text{
  z-index: 9;
}
.translte-y-keyframe {
  animation: translte-y-keyframe 4s infinite linear;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes translte-y-keyframe {
  0% {
    transform: translateY(0px) scale(1);
   
  }
  50% {
    transform: translateY(-22px) scale(.98);


  }
  100% {
    transform: translateY(0px) scale(1);


  }
}
.translte-scale-keyframe {
  animation: translte-scale-keyframe 4s infinite linear;
  transform-origin: bottom;
}

@keyframes translte-scale-keyframe {
  0% {
    transform:  scale(1);
    opacity: 1;
     filter: invert(0);
  }
  50% {
    transform:  scale(.9);
    opacity: .6;
        filter: invert(1);
  }
  100% {
    transform:  scale(1);
    opacity: 1;
     filter: invert(0);
  }
}
.container{
  padding-left: 40px;
  padding-right: 40px;
}

.shadow-custom-md{
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.05);
}
.bg-custom-gradient {
  background: linear-gradient(45deg, #192331, #192331, #3e337e, #3e337e);
  min-height: 400px;
}
.timline-slide .swiper{
  padding-top: 50px;
  padding-bottom: 50px;

}
/* .timline-slide .swiper-wrapper {
    padding-left: 50px;
    padding-right: 50px;

} */
.timline-slide .swiper-slide{
  max-width: 370px;
}
.timline-slider-card::before{
  position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid red; 
    background: none; 
}
.social-icon:hover{
    animation-name: jello;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes jello{
    0%,100%,11.1%{-webkit-transform:translateZ(0);transform:translateZ(0)}
    22.2%{-webkit-transform:skewX(-10.5deg) skewY(-10.5deg);transform:skewX(-10.5deg) skewY(-10.5deg)}
    33.3%{-webkit-transform:skewX(6.15deg) skewY(6.15deg);transform:skewX(6.15deg) skewY(6.15deg)}
    44.4%{-webkit-transform:skewX(-3.115deg) skewY(-3.115deg);transform:skewX(-3.115deg) skewY(-3.115deg)}
    55.5%{-webkit-transform:skewX(1.5615deg) skewY(1.5615deg);transform:skewX(1.5615deg) skewY(1.5615deg)}
    66.6%{-webkit-transform:skewX(-.78115deg) skewY(-.78115deg);transform:skewX(-.78115deg) skewY(-.78115deg)}
    77.7%{-webkit-transform:skewX(.390615deg) skewY(.390615deg);transform:skewX(.390615deg) skewY(.390615deg)}
    88.8%{-webkit-transform:skewX(-.1953115deg) skewY(-.1953115deg);transform:skewX(-.1953115deg) skewY(-.1953115deg)}
}



@keyframes marqueeVertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes marqueeVerticalAlt {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}



.animate-marqueeVertical {
  animation: marqueeVertical 70s linear infinite;
}

.animate-marqueeVerticalAlt {
  animation: marqueeVerticalAlt 70s linear infinite;
}



/* loader animations starts */


body.before-loader #main-body-section{
  opacity: 0!important;
}
#loader-span-1,
#loader-span-2 {
  display: none;
  
}

body.home-loader-active #loader-span-1,
body.home-loader-active #loader-span-2 {
  display: inline-block; 
}
#main-body-section{
  z-index: 99;
}
html.overflow-hidden {
  overflow: hidden;
}

body.loader-active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(#fff, #feeaea);
  pointer-events: none;
  
}
body.loader-active #main-body-section{
  width: 100%;
   height: 100vh;
  overflow: hidden;


}

body.stage-1 #main-body-section {
  transform: scale(0);
  transition: transform 0.8s cubic-bezier(.1, 0, 0.35, 1), border-radius 0.6s ease;
  transform-origin: center;
  border-radius: 300px;

  
}


body.stage-2 #main-body-section {
  transform: scale(.5) rotate(-5deg);
  transition: transform 0.8s cubic-bezier(.1, 0, 0.35, 1), border-radius 0.6s ease;
  transform-origin: center;
  border-radius: 30px
}


body.stage-3 #main-body-section {
  transform: scale(1);
transition: transform 0.8s cubic-bezier(.1, 0, 0.35, 1), border-radius 0.6s ease;
  transform-origin: center;
  border-radius: 0%;

}

span.loader-text {
  font-weight: bold;
  transition: 1s ease;
  position: absolute;
  
  
}

span.loader-text.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
body.stage-1 .loader-text1{
  left: calc(50% - 200px);
}
body.stage-1 .loader-text2{
  right: calc(50% - 200px);
}
body.stage-2 .loader-text1{
  left: calc(50% - 40%);
  opacity: .5;
}
body.stage-2 .loader-text2{
  right: calc(50% - 40%);
  opacity: .5;
}



@media (max-width: 767px) {
.container{
  padding-left: 20px;
  padding-right: 20px;
}
.timline-slide .swiper {
    padding-bottom: 20px;
}
.bg-custom-gradient {
  min-height: 240px;
}
.md\:writing-normal {
    writing-mode: initial !important;
    text-orientation: initial !important;
    transform: none !important;
  }
  .animate-marquee {
    animation: marquee 8s linear infinite;
  }
  body.stage-1 .loader-text1{
  left: calc(50% - 140px);
}
body.stage-1 .loader-text2{
  right: calc(50% - 140px);
}
  body.stage-2 .loader-text1{
opacity: 0;
}
body.stage-2 .loader-text2{
  opacity: 0;
}
  
}


@keyframes tailFlow {
  0% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(2.5) translateX(150px);
    opacity: 0;
  }
}

.blob {
  pointer-events: none;
  position: fixed;
  z-index: 99;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff00f2 0%, #1100ff 60%, transparent 100%);
  filter: blur(80px);
  transition: all 450ms ease-out;
  transform: translate(calc(-50% + 15px), -50%);
  overflow: visible;
}
.loader-active .blob{
  display: none;
}
.blob::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.4), rgba(0, 255, 128, 0));
  filter: blur(80px);
  transform: translate(-50%, -50%) scaleX(1);
  transform-origin: left center;
  animation: tailFlow 2s ease-in-out infinite;
}

.blob {
  mix-blend-mode: screen;
}



